</main>

</div>


<footer class="footer">

  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p class="footer-text">Copyright © <%= new Date().getFullYear() %> </p>
</footer>
</div>
</body>

</html>

